main{
    display: flex;
    align-content: space-between;
    margin: 2rem; 
    gap: 10%;
    width: 100%; 
}

.analytics-container {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5rem auto;
    max-width: 1200px;
}
 
.chart-selector {
    margin-bottom: 2rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
 
.chart-selector label {
    font-size: 18px;
    color: #15505d;
    margin-right: 1rem;
    
}
 
.chart-selector select {
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #15505d;
    border-radius: 5px;
    background-color: #afd1c6;
    color: #15505d;
}
 
.chart-container {
    width: 100%;
    height: 400px;
}
.canvas-header h1{
    border-bottom: 2px solid #000;
    padding: 0 6rem 0 6rem; 
}

