

main{
    display: flex;
    width: 100%; 
    justify-content: center;
    padding: 50px 0 80px 0;

}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(40%);
    display: flex;
    margin-left: 4rem; 
    align-content: center;
    height: fit-content;
    position: sticky; 
    margin-top: 30px;
    top: 70px; 
    left: 0; 
    z-index: 1000;
}
.form-group label, .date-container label {
    font-size: 18px;
    color: #15505d;
    
}
.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #15505d;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    resize: none;
    background-color: #afd1c6;
    margin-top: 20px;
}
/*estilo calendario*/
.date-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    justify-content: space-between;
}
.date-input{
    display: flex;
    align-items: center; 
    gap: 10px; 
}
.date-input svg {
    color: #15505d;
}

.date-input input {
    border: 1px solid #15505d;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: transparent;
    color: #15505d;
}

.date-container button {
    background-color: #15505d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 16px;
    
}
#taskDescription{
    height: 200px;
}

/*estilo de las tareas*/
#task-container{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 220px;
    grid-row-gap: 45px;
    grid-column-gap: 50px;
    height: fit-content;
    max-width: 100%;
    padding-bottom: 10px;
    justify-items: center;
    padding: 0 4rem 0 4rem;
}
.task {
    background-color: #15505d;
    color: white;
    border-radius: 10px;
    box-sizing: border-box; 
    position: relative;
    overflow: hidden;
    position: relative;
    margin-top: 2rem;
    padding: 25px;
    transition: transform 0.3s ease;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.delete-button {
    position: absolute;
    bottom: 10px; 
    right: 10px;  
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #afd1c6; 
    font-size: 1.5em; 
    padding: 0;
}
.task p{
    margin-top: 2px;
    margin-bottom: 8px;
}
.task-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(2);
}
.COMPLETED{
    background: #1f877e;
}
.COMPLETED h2{
    text-decoration: line-through;
}
.task:hover{
    border: 1px solid #eefb03;
    transform: scale(1.08); 
}
/* Estilos dificulty*/
.radio-group {
    display: flex;
    gap: 1rem;
}

.radio-group label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Estilos priority */
#taskPriority {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #15505d;
    border-radius: 8px;
    font-size: 16px;
    background-color: #afd1c6;
    margin-top: 10px; 
}

/*generatebutton*/

button {
    padding: 0.5rem 1rem;
    background-color: #15505d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;  
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.addButton {
    font-weight: bold; 

}

.task-priority {
    display: flex;
    position: relative;
    gap: 5px;
    padding-bottom: 15px;
}

.circle {
    border-radius: 50%;
    width: 25px; 
    height: 25px; 
    margin: 0;
    display: flex; 
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.circle span {
    color: white; /* Cambia el color del texto a blanco para mejor contraste */
    font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold; /* Opcional: hace que el número sea más destacado */
}
.task-priority h2{
    margin: 0;
}
.first-priority{
    background-color: #acfb03;
}
.second-priority{
    background-color: #2bb5c5;
}
.third-priority{
    background-color: #7bd179;
}
.four-priority{
    background-color: #afd1c6;
}
.five-priority{
    background-color: #3da06a;
}

#radio-b {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.opcion-radio {
    margin-left: 15px; /* Espacio entre cada opción */
}

.opcion-radio input[type=radio] {
    position: absolute;
    opacity: 0; /* Oculta el input original */
}

.opcion-radio input[type=radio] + label:before {
    content: '';
    background: #F4F5F8;
    border-radius: 100%;
    border: 1px solid #a6aec6;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -.2em;
    margin-right: .5em;
    vertical-align: middle; /* Alinea verticalmente el label con el radio */
    cursor: pointer;
    transition: all 250ms ease;
}

.opcion-radio input[type=radio]:checked + label:before {
    background-color: #afd1c6;
    box-shadow: inset 0 0 0 4px #F4F5F8;
}

.opcion-radio label {
    display: inline-block;
    line-height: 32px; /* Ajusta la altura de línea para alinear mejor */
}







